<h1>Редактирование новости</h1>

<%= render 'form' %>

<%= link_to 'Открыть на сайте', @news, class: 'btn btn-warning' %>
<%= link_to 'Список новостей', admin_news_index_path, class: 'btn btn-default' %>
