<footer>
  <div class="container">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 text-right">
      <p>War<strong>In</strong>Ukraine &copy; 2014</p>
      <a href="#">OpenSource</a>
    </div>
  </div>
</footer>