<footer>
  <div class="container">
    <div class="col-md-6">
      <ul class="footer-nav">
        <li><a href="/wanna-post">Хотите публиковать?</a></li>
        <li><a href="http://warinukraine.reformal.ru" target="_blank">Отзывы и предложения</a></li>
      </ul>
    </div>
    <div class="col-md-6 text-right">
      <p>War<strong>In</strong>Ukraine &copy; 2014</p>
      <a href="http://github.com/WarInUkraine/WarInUkraine" target="_blank"><i class="fa fa-github"></i> OpenSource</a>
    </div>
  </div>
</footer>