<footer>
  <div class="container">
    <div class="col-md-6">
      <ul class="footer-nav">
        <li><a href="/wanna-post">Хотите публиковать?</a></li>
        <li><a href="http://warinukraine.reformal.ru" target="_blank">Отзывы и предложения</a></li>
        <li class="vkshare">
          <script type="text/javascript">
            document.write(VK.Share.button({
              url: 'http://warinukraine.info',
              title: 'Карта боевыйх действий в Украине 2014 год',
              description: 'Динамическая карта боевых действий и новостей происходящих в Украине, постоянно обновляется и улучшается.',
              image: 'http://warinukraine.info/images/WarInUkraine2880x1800.png'
            }));
          </script>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-right">
      <p>War<strong>In</strong>Ukraine &copy; 2014</p>
      <a href="http://github.com/WarInUkraine/WarInUkraine" target="_blank"><i class="fa fa-github"></i> OpenSource</a>
    </div>
  </div>
</footer>