<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="static-page">
      <h1 class="static-page-title"><%= @static.title %></h1>
      <div class="static-page-html">
        <%= raw @static.html %>
      </div>
    </div>
  </div>
</div>